<div class="widgetname">
    <form>
        <div class="row" id="pwd-container">
            <div class="input-group col-md-12 col-sm-12 col-lg-12 col-xs-12" data-dojo-attach-point="inputNodes">
                <input type="password" class="form-control" placeholder="password" data-dojo-attach-point="passwordInputNode">
            </div>
            <div class="pwstrength_viewport_progress"></div>
            <div class="pwstrength_viewport_errors"></div>
      </div>
    </form>
    <div class="widgetname-infoTextNode" data-dojo-attach-point="infoTextNode" />
</div>
