<div class="form-group mxPasswordStrengthMainContainer" data-dojo-attach-point="mxPasswordStrengthMainContainer">
    <label class="control-label mxPasswordStrengthLabel" data-dojo-attach-point="mxPasswordStrengthLabel"></label>
    <div class="mxPasswordStrengthInputGroupContainer" id="pwd-container" data-dojo-attach-point="mxPasswordStrengthInputGroupContainer">
            <div class="input-group passwordStrength" data-dojo-attach-point="mxPasswordStrengthInputGroup">
                <input type="password" class="form-control mxPasswordStrength" placeholder="password" data-dojo-attach-point="mxPasswordStrength">
            </div>
            <div class="pwstrength_viewport_progress"></div>
            <div class="pwstrength_viewport_errors"></div>
        <div class="infoTextNode" data-dojo-attach-point="infoTextNode" />
    </div>
</div>